<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>投图查看</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/eui.css">
    <style>

        body {
            background-color: rgb(212, 207, 196);
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
            margin: 0 auto;
        }

        #input {
            position: absolute;
            top: -10000px;
            opacity: 0;
            z-inde: -10;
        }

        .map {
            background-color: rgb(255, 253, 239);
            border-radius: 25px;
            margin: 10px auto;
            width: 600px;
            font-size: 18px;
            color: rgb(95, 28, 28);
            overflow: hidden;
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <div style="margin: 0 auto;text-align:center">
        <div>
            <a id="text" v-text="url"></a>
            <input id="input">
            <el-button size="mini" type="primary" onclick="copyText()">复制</el-button>
            此链接添加到直播姬进行展示
        </div>
        <div>
            设置显示位置:
            <template>
                <el-select v-model="value" @change="handleChange" placeholder="请选择显示位置">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </template>
            设置显示时长:
            <template>
                <el-input-number v-model="num" controls-position="right" :precision="3" @change="handleChange" :min="1"
                                 :max="100"></el-input-number>
            </template>
        </div>
        <div>
            <el-input style="width: 200px" v-model="input" placeholder="图号"></el-input>
            <el-button @click="add()" type="primary">投图</el-button>

            <template>
                <el-popconfirm
                        title="确定删除当前全部投图吗？"
                        @confirm="deleteMap()"
                >
                    <el-button slot="reference" type="danger">删除当前全部投图</el-button>
                </el-popconfirm>
            </template>
        </div>
        <div>
            <template>
                <span>当前展示的标记类型:</span>
                <el-select v-model="status" @change="handleStatus" filterable placeholder="请选择">
                    <el-option
                            v-for="item in statusList"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </template>
        </div>
    </div>
    <div>
        <div class="map" v-for="(p,i) in arr" :key="p.map">
            <div style="margin-bottom: 7px">
                <span style="color: #66b1ff">
                    <!--{{p.gameStyleName}}-->
                    <el-tooltip class="item" effect="light" :content="gameStyleCN(p.gameStyle)" placement="top">
                         <el-image :src="'./img/style'+p.gameStyle+'.png'" lazy style="height: 24px;width: 45px;"></el-image>
                    </el-tooltip>
                </span>
                <span style="color: #5daf34">
                    <!--{{p.themeName}}-->
                    <el-tooltip class="item" effect="light" :content="themeCN(p.theme)" placement="top">
                        <el-image :src="'./img/theme'+p.theme+'.png'" lazy style="height: 24px;width: 45px;"></el-image>
                    </el-tooltip>
                </span>
                <span style="line-height: 24px;" @click="fanyiName(i)">{{p.name}}</span>
                <template>
                    <el-popconfirm
                            title="确定删除吗？"
                            @confirm="deleteMap(p.map)">
                        <el-button style="float: right" size="mini" type="danger" slot="reference">删除</el-button>
                    </el-popconfirm>
                </template>
            </div>
            <div style="height: 130px">
                <el-row>
                    <el-col :span="10">
                        <span>
                    <el-image
                            lazy
                            style="height: 120px;width: 213px"
                            :src="p.img === undefined ? 'https://tgrcode.lifan.one/mm2/level_thumbnail/'+ p.map:'./img/loding.gif'"
                            :preview-src-list="['https://tgrcode.lifan.one/mm2/level_entire_thumbnail/'+p.map]">
                        <el-image slot="placeholder" src="./img/loding.gif"></el-image>
                    </el-image>
                </span>
                    </el-col>
                    <el-col :span="14">
                        <span style="margin-left: 10px">
                    点赞:{{p.likes}} 点踩:{{p.boos}} 评论数:{{p.numComments}} 游玩人数：{{p.plays}}
                    <br>
                    标签:{{tsgsCN(p.tags)}}
                            <!--{{p.tagsName}}-->
                </span><br>
                        <div @click="fanyiDescription(i)"
                             style="background-color: rgb(255,243,213);border-radius: 25px;margin-bottom: 7px;padding: 10px">
                            {{p.description}}
                        </div>
                    </el-col>
                </el-row>

            </div>
            <div style="margin-bottom: 7px">
                <el-row :gutter="20">
                    <el-col :span="8">
                        <div style="background-color: rgb(255,243,213);border-radius: 25px;">
                            最快通关时间 <br>
                            {{p.worldRecordPretty}}<br>
                            作者通关时间:<br>
                            {{p.uploadTimePretty}}
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div style="background-color: rgb(255,243,213);border-radius: 25px;">
                            通过率:{{p.clearRate}}<br>
                            通关比:{{p.clears}}/{{p.attempts}}<br>
                            难度:{{difficultyCN(p.difficulty)}}
                            <!--{{p.difficulty}}-{{p.difficultyName}}-->
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div style="background-color: rgb(255,243,213);border-radius: 25px;">
                            关卡ID <br>
                            <span v-text="p.map.substring(0,3)+'-'+p.map.substring(3,6)+'-'+p.map.substring(6,9)"></span><br>
                            投图弹幕:{{p.danmu}}
                        </div>
                    </el-col>
                </el-row>
            </div>
            <div @click="fanyiClearConditionName(i)" style="background-color: rgb(255,243,213);border-radius: 25px;margin-bottom: 7px;padding: 10px"
                 v-if="p.clearConditionName!=null">
                通关条件:{{p.clearConditionName}} <br>
                条件数量:{{p.clearConditionMagnitude}}
            </div>
            <div>
                <el-row :gutter="20">
                    <el-col :span="8">
                        <div style="background-color: rgb(255,243,213);border-radius: 25px;">
                            投图人:{{p.userName}}<br>
                            投图时间:<br>
                            <span v-text="timestampToTime(p.createTimestamp)"></span><br>
                            作者上传时间:<br>
                            <span v-text="timestampToTime(p.uploaded)"></span>
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div class="grid-content bg-purple">
                            <a style="height: 52px;width: 100px;background-color: rgb(255,204,1);border-radius: 15px;
                        display:inline-block;line-height: 52px;text-align: center;margin-bottom: 4px;
                        text-decoration:none;font-size: 18px;color: rgb(95, 28, 28);font-weight:bold"
                               :href="'https://www.smm2-viewer.com/courses/'+p.map" target="view_window">地图编辑器</a>
                        </div>
                        <div class="grid-content bg-purple">
                            <a style="height: 52px;width: 100px;background-color: rgb(255,204,1);border-radius: 15px;
                        display:inline-block;line-height: 52px;text-align: center;
                        text-decoration:none;font-size: 18px;color: rgb(95, 28, 28);font-weight:bold"
                               :href="'https://smm2.wizul.us/smm2/level/'+p.map" target="view_window">另个编辑器</a>
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div class="grid-content bg-purple">
                            <a style="height: 48px;width: 100px;background-color: rgb(255,204,1);border-radius: 15px;
                        display:inline-block;line-height: 48px;text-align: center;margin-bottom: 4px;
                        text-decoration:none;font-size: 18px;color: rgb(95, 28, 28);font-weight:bold"
                               href="javascript:void(0)" @click="play(p.map,'玩过了')">玩过了</a>
                        </div>
                        <div class="grid-content bg-purple">

                            <el-popover
                                    placement="top"
                                    width="160">
                                <span>请选择或输入标记类型:</span>
                                <el-select allow-create default-first-option v-model="statusValue" filterable
                                           placeholder="请选择">
                                    <el-option
                                            v-for="item in statusList"
                                            :label="item"
                                            :value="item">
                                    </el-option>
                                </el-select>
                                <div style="text-align: right; margin: 0">
                                    <!--                                    <el-button size="mini" type="text" @click="visible = false">取消</el-button>-->
                                    <el-button type="primary" size="mini" @click="play(p.map,statusValue)">确定
                                    </el-button>
                                </div>
                                <a slot="reference" style="height: 48px;width: 100px;background-color: rgb(255,204,1);border-radius: 15px;
                        display:inline-block;line-height: 48px;text-align: center;
                        text-decoration:none;font-size: 18px;color: rgb(95, 28, 28);font-weight:bold"
                                   href="javascript:void(0)">标记</a>
                            </el-popover>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
    </div>
</div>
<!-- import Vue before Element -->


<script src="js/vue.js"></script>
<!-- import JavaScript -->
<script src="js/eui.js"></script>
<script src="js/axios.min.js"></script>
<script src="./js/bdfykey.js"></script>
<script src="./js/md5.js"></script>
<script src="./js/jquery.min.js"></script>

<script>
    var v = new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                statusList: [],
                statusValue: '未玩',
                status: '未玩',
                arr: [],
                input: '',
                options: [{
                    value: '0',
                    label: '上方'
                }, {
                    value: '1',
                    label: '左上'
                }, {
                    value: '2',
                    label: '右上'
                }, {
                    value: '3',
                    label: '右下'
                }, {
                    value: '4',
                    label: '左下'
                }],
                value: '0',
                num: 8,
                url: 'http://localhost:8080/danmu.html'
            }
        },
        created: function () {//此方法是Vue对象创建时执行的方法
            //一般会把加载完页面请求数据的代码写在此方法中
            axios.get("/list_noplay").then(function (response) {
                v.arr = response.data;
            });
            axios.get("/status-list").then(function (response) {
                v.statusList = response.data.data;
            });
        },
        methods: {
            gameStyleCN(id) {
                switch (id) {
                    case 0:
                        return '超级马力欧兄弟';
                    case 1:
                        return '超级马力欧兄弟3';
                    case 2:
                        return '超级马力欧世界';
                    case 3:
                        return 'New 超级马力欧兄弟 U';
                    case 4:
                        return '超级马力欧 3D世界';
                }
            },
            themeCN(id) {
                switch (id) {
                    case 0:
                        return '地上';
                    case 1:
                        return '地下';
                    case 2:
                        return '城堡';
                    case 3:
                        return '飞行船';
                    case 4:
                        return '水中';
                    case 5:
                        return '鬼屋';
                    case 6:
                        return '冰原';
                    case 7:
                        return '沙漠';
                    case 8:
                        return '天空';
                    case 9:
                        return '森林';
                }
            },
            difficultyCN(id) {
                switch (id) {
                    case 0:
                        return '简单';
                    case 1:
                        return '普通';
                    case 2:
                        return '困难';
                    case 3:
                        return '超难';
                }
            },
            tsgsCN(ids) {
                if (ids == null) {
                    return;
                }
                let id = ids.split('|');
                if (id[0] === id[1]) {
                    let s = this.tagCN(id[0]);
                    return s;
                } else {
                    return this.tagCN(id[0]) + ' ' + this.tagCN(id[1]);
                }
            },
            tagCN(id) {
                id = parseInt(id);
                switch (id) {
                    case 0:
                        return '无';
                    case 1:
                        return '标准';
                    case 2:
                        return '解密';
                    case 3:
                        return '计时挑战';
                    case 4:
                        return '自动卷轴';
                    case 5:
                        return '自动马力欧';
                    case 6:
                        return '一次通过';
                    case 7:
                        return '多人对战';
                    case 8:
                        return '机关设计';
                    case 9:
                        return '音乐';
                    case 10:
                        return '美术';
                    case 11:
                        return '技巧';
                    case 12:
                        return '射击';
                    case 13:
                        return '对战BOSS';
                    case 14:
                        return '单打';
                    case 15:
                        return '林克';
                }
            },
            fanyiName(i) {
                let query = v.arr[i].name;
                let salt = (new Date).getTime();
                let from = 'auto';
                let to = 'zh';
                var str1 = appid + query + salt + key;
                let sign = MD5(str1);
                $.ajax({
                    url: 'http://api.fanyi.baidu.com/api/trans/vip/translate',
                    type: 'get',
                    dataType: 'jsonp',
                    data: {
                        q: query,
                        appid: appid,
                        salt: salt,
                        from: from,
                        to: to,
                        sign: sign
                    },
                    success: function (data) {
                        if (data.trans_result[0].dst) {
                            v.arr[i].name = data.trans_result[0].dst
                        }
                    }
                });
            },
            fanyiDescription(i) {
                let query = v.arr[i].description;
                let salt = (new Date).getTime();
                let from = 'auto';
                let to = 'zh';
                var str1 = appid + query + salt + key;
                let sign = MD5(str1);
                $.ajax({
                    url: 'http://api.fanyi.baidu.com/api/trans/vip/translate',
                    type: 'get',
                    dataType: 'jsonp',
                    data: {
                        q: query,
                        appid: appid,
                        salt: salt,
                        from: from,
                        to: to,
                        sign: sign
                    },
                    success: function (data) {
                        if (data.trans_result[0].dst) {
                            v.arr[i].description = data.trans_result[0].dst
                        }
                    }
                });
            },
            fanyiClearConditionName(i) {
                let query = v.arr[i].clearConditionName;
                let salt = (new Date).getTime();
                let from = 'auto';
                let to = 'zh';
                var str1 = appid + query + salt + key;
                let sign = MD5(str1);
                $.ajax({
                    url: 'http://api.fanyi.baidu.com/api/trans/vip/translate',
                    type: 'get',
                    dataType: 'jsonp',
                    data: {
                        q: query,
                        appid: appid,
                        salt: salt,
                        from: from,
                        to: to,
                        sign: sign,
                        action:1
                    },
                    success: function (data) {
                        if (data.trans_result[0].dst) {
                            v.arr[i].clearConditionName = data.trans_result[0].dst
                        }
                    }
                });
            },
            handleStatus() {
                axios.get("/list?status=" + v.status).then(function (response) {
                    v.arr = response.data;
                });
                axios.get("/status-list").then(function (response) {
                    v.statusList = response.data.data;
                });
            },
            play(map, status) {
                visible = false;
                axios.get("/play?map=" + map + "&status=" + status).then(function (response) {
                    v.$message.success('标记完成！');
                    v.handleStatus();
                })
            },
            deleteMap(map) {
                let mapArr = [];
                if (map == null) {
                    for (let i = 0; i < v.arr.length; i++) {
                        mapArr.push(v.arr[i].map);
                    }
                } else {
                    mapArr.push(map)
                }
                axios.post("/delete-map", mapArr).then(function (response) {
                    v.handleStatus();
                });
            },
            add() {
                let data = "name=乌冬面pp&msg=" + v.input
                axios.post("/add-map", data).then(function (response) {
                    /* if (response.data.state == 200) {
                         if (response.data.data.name == null) {
                             v.$message.success("添加[" + response.data.data.map + "]完成！");
                         } else {
                             v.$message.success("添加[" + response.data.data.name + "]完成！");
                         }
                         v.status = '未玩';
                         v.handleStatus();
                     } else {
                         v.$message.error("添加失败！因为:" + response.data.message);
                     }*/
                })
            },
            handleChange() {
                v.url = 'http://localhost:8080/danmu.html?type=' + v.value + "&duration=" + v.num * 1000
            },
            timestampToTime(timestamp) {
                var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
                var Y = date.getFullYear() + '-';
                var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
                var D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
                var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
                var m = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
                var s = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
                return Y + M + D + h + m + s;
            }
        }
    })
</script>
<script>
    function copyText() {
        var text = document.getElementById("text").innerText;
        var input = document.getElementById("input");
        input.value = text; // 修改文本框的内容
        input.select(); // 选中文本
        document.execCommand("copy"); // 执行浏览器复制命令
        v.$message.success("复制成功");
    }

    var ws = new WebSocket('ws://' + location.host + '/adminWs');
    // 连接成功时:
    ws.addEventListener('open', function (event) {
        console.log('websocket connected.');
    });
    // 收到消息时:
    ws.addEventListener('message', function (event) {
        var msgs = JSON.parse(event.data);
        console.log('message: ' + msgs);
        if (msgs.state == 200) {
            msgs.data.img = "";
            let i = v.arr.push(msgs.data) - 1;
            console.log(v.arr);

            setTimeout(function () {
                v.arr[i].img = undefined;
                v.$forceUpdate();
            }, 5000);

        }
        let name = msgs.data.userName;
        if (msgs.state == 100) {
            v.$notify({
                title: name,
                message: msgs.message,
                showClose: false,
                duration: 8000,
                position: 'top-right',
                type: 'info'
            });
        } else if (msgs.state != 200) {
            v.$notify({
                title: name,
                message: "投图失败，原因【" + msgs.data.map + '|' + msgs.message + '】',
                showClose: false,
                duration: 8000,
                position: 'top-right',
                type: 'error'
            });
        } else if (msgs.state == 200) {
            v.$notify({
                title: name,
                message: "收到投图【" + msgs.data.map + '|' + msgs.data.name + '】',
                showClose: false,
                duration: 8000,
                position: 'top-right',
                type: 'success'
            });
        }

    });
    // 连接关闭时:
    ws.addEventListener('close', function () {
        console.log('websocket closed.');
        ws = new WebSocket('ws://' + location.host + '/adminWs');
    });
    // 绑定到全局变量:
    window.chatWs = ws;
</script>
</body>
</html>
