<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>投图查看</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="css/eui.css">
    <style>
        @font-face {
            font-family: "100";
            src: url("css/fonts/100.TTF") ;
        }

        body {
            background-color: rgb(212, 207, 196);
            font-family: "100";
            margin: 0 auto;
        }

        #input {
            position: absolute;
            top: -10000px;
            opacity: 0;
            z-inde: -10;
        }

        .map {
            background-color: rgb(255, 253, 239);
            border-radius: 25px;
            margin: 10px auto;
            width: 600px;
            font-size: 18px;
            color: rgb(95, 28, 28);
            overflow: hidden;
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <div style="margin: 0 auto;text-align:center">
        <div>
            <a id="text" v-text="url"></a>
            <input id="input">
            <el-button size="mini" type="primary" onclick="copyText()">复制</el-button>
            此链接添加到直播姬进行展示
        </div>
        <div>
            设置显示位置:
            <template>
                <el-select v-model="value" @change="handleChange" placeholder="请选择显示位置">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </template>
            设置显示时长:
            <template>
                <el-input-number v-model="num" controls-position="right" :precision="3" @change="handleChange" :min="1"
                                 :max="100"></el-input-number>
            </template>
        </div>
        <div>
            <el-input style="width: 200px" v-model="input" placeholder="图号"></el-input>
            <el-button @click="add()" type="primary">投图</el-button>
        </div>
    </div>
    <div>
        <div class="map" v-for="p in arr">
            <div style="margin-bottom: 7px">
                <span style="color: #66b1ff">{{p.gameStyleName}}</span>
                <span style="color: #5daf34">{{p.themeName}}</span>
                <span>{{p.name}}</span>
            </div>
            <div style="height: 130px">
                <span style="float:left">
                    <el-image
                            lazy
                            style="height: 120px"
                            :src="'https://tgrcode.lifan.one/mm2/level_thumbnail/'+p.map"
                            :preview-src-list="['https://tgrcode.lifan.one/mm2/level_entire_thumbnail/'+p.map]">
                    </el-image>
                </span>
                <span style="float:left;margin-left: 10px">
                    点赞:{{p.likes}} 点踩:{{p.boos}} 评论数:{{p.numComments}}
                    <br>
                    标签:{{p.tagsName}}
                    <br>
                    上传时间:
                    <span v-text="timestampToTime(p.uploaded)"></span>
                    <br>
                    作者通关时间:{{p.uploadTimePretty}}
                    <br>
                    难度:{{p.difficulty}}-{{p.difficultyName}}
                </span>
            </div>
            <div style="background-color: rgb(255,243,213);border-radius: 25px;margin-bottom: 7px">
                {{p.description}}
            </div>
            <div style="margin-bottom: 7px">
                <el-row :gutter="20">
                    <el-col :span="8">
                        <div style="background-color: rgb(255,243,213);border-radius: 25px;">
                            最快通关时间 <br>
                            {{p.worldRecordPretty}}
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div style="background-color: rgb(255,243,213);border-radius: 25px;">
                            通过率:{{p.clearRate}}<br>
                            通关比:{{p.clears}}/{{p.attempts}}
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div style="background-color: rgb(255,243,213);border-radius: 25px;">
                            关卡ID <br>
                            <span v-text="p.map.substring(0,3)+'-'+p.map.substring(3,6)+'-'+p.map.substring(6,9)"></span>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <div v-if="p.clearConditionName!=null">
                通关条件:{{p.clearConditionName}} <br>
                条件数量:{{p.clearConditionMagnitude}}
            </div>
            <div>
                <el-row :gutter="20">
                    <el-col :span="8">
                        <div style="background-color: rgb(255,243,213);border-radius: 25px;">
                            投图人:{{p.userName}}<br>
                            投图时间:
                            <span v-text="timestampToTime(p.createTimestamp)"></span><br>
                            投图弹幕:{{p.danmu}}
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div class="grid-content bg-purple">
                            <a style="height: 100px;width: 100px;background-color: rgb(255,204,1);border-radius: 15px;
                        display:inline-block;line-height: 100px;text-align: center;
                        text-decoration:none;font-size: 18px;color: rgb(95, 28, 28);font-weight:bold"
                               :href="'https://www.smm2-viewer.com/courses/'+p.map" target="view_window">地图编辑器</a>
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div class="grid-content bg-purple">
                            <a style="height: 100px;width: 100px;background-color: rgb(255,204,1);border-radius: 15px;
                        display:inline-block;line-height: 100px;text-align: center;
                        text-decoration:none;font-size: 18px;color: rgb(95, 28, 28);font-weight:bold"
                               href="javascript:void(0)" @click="play(p.map)">玩过了</a>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
    </div>
</div>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<!-- import JavaScript -->
<script src="js/eui.js"></script>
<script src="js/axios.min.js"></script>
<script>
    var v = new Vue({
        el: '#app',
        data: function () {
            return {
                arr: [],
                input: '',
                options: [{
                    value: '0',
                    label: '上方'
                }, {
                    value: '1',
                    label: '左上'
                }, {
                    value: '2',
                    label: '右上'
                }, {
                    value: '3',
                    label: '右下'
                }, {
                    value: '4',
                    label: '左下'
                }],
                value: '0',
                num: 8,
                url: 'http://localhost:8080/danmu.html'
            }
        },
        created: function () {//此方法是Vue对象创建时执行的方法
            //一般会把加载完页面请求数据的代码写在此方法中
            axios.get("/list_noplay").then(function (response) {
                v.arr = response.data;
            })
        },
        methods: {
            play(map) {
                axios.get("/play?map=" + map).then(function (response) {
                    alert("标记完成！");
                    location.reload();
                })
            },
            add() {
                let data = "name=乌冬面pp&msg=" + v.input
                axios.post("/add-map", data).then(function (response) {
                    if (response.data.state == 200) {
                        if (response.data.data.name == null) {
                            alert("添加[" + response.data.data.map + "]完成！");
                        } else {
                            alert("添加[" + response.data.data.name + "]完成！");
                        }
                        location.reload();
                    } else {
                        alert("添加失败！因为:" + response.data.message);
                    }
                })
            },
            handleChange() {
                v.url = 'http://localhost:8080/danmu.html?type=' + v.value + "&duration=" + v.num * 1000
            },
            timestampToTime(timestamp) {
                var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
                var Y = date.getFullYear() + '-';
                var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
                var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate())+ ' ';
                var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
                var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes()) + ':';
                var s = date.getSeconds() < 10 ? '0'+date.getSeconds():date.getSeconds();
                return Y+M+D+h+m+s;
            }
        }
    })
</script>
<script>
    function copyText() {
        var text = document.getElementById("text").innerText;
        var input = document.getElementById("input");
        input.value = text; // 修改文本框的内容
        input.select(); // 选中文本
        document.execCommand("copy"); // 执行浏览器复制命令
        alert("复制成功");
    }

    var ws = new WebSocket('ws://' + location.host + '/adminWs');
    // 连接成功时:
    ws.addEventListener('open', function (event) {
        console.log('websocket connected.');
    });
    // 收到消息时:
    ws.addEventListener('message', function (event) {
        console.log('message: ' + event.data);
        if (event.data.state == 200) {
            var msgs = JSON.parse(event.data.data);
            console.log(msgs);
            v.arr.push(msgs);
            console.log(v.arr);
        }
    });
    // 连接关闭时:
    ws.addEventListener('close', function () {
        console.log('websocket closed.');
        ws = new WebSocket('ws://' + location.host + '/adminWs');
    });
    // 绑定到全局变量:
    window.chatWs = ws;
</script>
</body>
</html>
